.git
# dependencies
/node_modules

# testing
coverage

# misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea

# Other
.env
.todo

src
storybook-static
.storybook
.editorconfig
.env.sample
.eslintrc.json
.prettierrc.js
package-lock.json
tsconfig.json
tsup.config.json
jest.config.js
